
 .head{
    background-color: white;
 }
 .bg{
    background-color: #e9ecef;

 }
#logo{
   position: absolute;
   top: 0;
   left: 0;
   scale: 0.5;
   margin-top: 5px;
   margin-left: -60px;
}
a{
    text-decoration: none;
 color: black; 
font-family: "Open Sans", sans-serif;  
}
#one{
    color: #00a78e;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 5px;
    font-family: "Open Sans", sans-serif; 
}
li{
    list-style-type: none;
    display: inline;
    margin-left:10px;
    margin-right: 80px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding-top:10px;
}
.navbar{
    margin-left: 520px;
    margin-top: 35px;
}
h2{
    color:  #00a78e;
    margin-left: 700px;
}
h1{
    color: black;
    margin-left: 625px;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 10px;
}
.box{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 190px;
    margin: 10px;
    
}
.body2{
    display: flex;
    justify-content: space-around;
    
}
h3{
    color: black;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 30px;
}
pre{
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}
a:hover{
    color: #00a78e;
}

#g{
    display: block;
}
#g1{
    display: none;
}
.box:hover{
    background-color: #00a78e;
    
    pre{
        color: white;
    }
    h3{
        color: white;
    }
    #g{
        display: none;
    }
    #g1{
        display: block;
    }
    scale: 1.1;
    
}
.box {
    animation: boxAnimation 1s; 
    animation-fill-mode: forwards;
  }
  
  @keyframes boxAnimation {
    0% {
      transform: translateY(100%); 
      opacity: 0; 
    }
    100% {
      transform: translateY(0);
      opacity: 1; 
    }
  }
  h2,h1 {
    animation: textFromTop 2s; 
    animation-fill-mode: forwards; 
  }
  
  @keyframes textFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .navbar{
    animation: fadeIn 2s; 
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }